@import "tailwindcss";

@layer base {
  *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

ul{
  list-style: disc;
}